<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Autonoleggio</display-name>

	<servlet>
		<servlet-name>AddVeicolo</servlet-name>
		<servlet-class>servlet.AddVeicolo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddVeicolo</servlet-name>
		<url-pattern>/addVeicolo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Registrazione</servlet-name>
		<servlet-class>servlet.Registrazione</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registrazione</servlet-name>
		<url-pattern>/registrazione</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModifyVeicolo_View</servlet-name>
		<servlet-class>servlet.ModifyVeicolo_View</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyVeicolo_View</servlet-name>
		<url-pattern>/modifyVeicolo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ClientPage</servlet-name>
		<jsp-file>/WEB-INF/clientPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientPage</servlet-name>
		<url-pattern>/utente/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>servlet.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/utente/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Prenota</servlet-name>
		<servlet-class>servlet.Prenota</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Prenota</servlet-name>
		<url-pattern>/utente/prenota</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeletePrenotazione</servlet-name>
		<servlet-class>servlet.DeletePrenotazione</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletePrenotazione</servlet-name>
		<url-pattern>/utente/DeletePrenotazione</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ParcoAuto</servlet-name>
		<jsp-file>/WEB-INF/parcoAuto.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ParcoAuto</servlet-name>
		<url-pattern>/utente/parcoauto</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchVeicolo</servlet-name>
		<jsp-file>/WEB-INF/veicoliPrenotabili.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchVeicolo</servlet-name>
		<url-pattern>/utente/searchveicolo</url-pattern>
	</servlet-mapping>
	
	<!-- FILTER -->
	
	<filter>
		<filter-name>UtenteFilter</filter-name>
		<filter-class>filter.UtenteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UtenteFilter</filter-name>
		<url-pattern>/utente/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<session-config>
		<session-timeout>3600</session-timeout>
		<cookie-config>
			<name>JSessionID</name>
			<http-only>true</http-only>
			<secure>false</secure>
		</cookie-config>
	</session-config>
</web-app>