<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Autonoleggio</display-name>

	<servlet>
		<servlet-name>AddVeicolo</servlet-name>
		<servlet-class>servlet.AddVeicolo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddVeicolo</servlet-name>
		<url-pattern>/addVeicolo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Registrazione</servlet-name>
		<servlet-class>servlet.Registrazione</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registrazione</servlet-name>
		<url-pattern>/registrazione</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModifyVeicolo_View</servlet-name>
		<servlet-class>servlet.ModifyVeicolo_View</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyVeicolo_View</servlet-name>
		<url-pattern>/modifyVeicolo</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>3600</session-timeout>
		<cookie-config>
			<name>JSessionID</name>
			<http-only>true</http-only>
			<secure>false</secure>
		</cookie-config>
	</session-config>
</web-app>